#about {
    background: linear-gradient(to bottom, rgba(112, 119, 120, 0.9), rgba(112, 119, 120, 0.9)),
                url("../images/shelagh1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #707778;

    h4 {
        font-size: 2em;
        font-family: $alt-heading-txt;
        margin: 25px 0;
    }

    li {
        font-size: 1.5em;
        letter-spacing: 0.125em;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 0px 5px #000;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 975px) {
    #about {
        background-position: 50% 50%;
    }
}

